.first-block
  +breakpoint($large)
    display: block
    height: 500px
    position: relative
    margin-top: 100px
    .call-to-action
      +button-bg()
      width: 270px
      font-weight: 600
      font-size: 18px

    h1
      z-index: 2
      text-align: center
      font-size: 72px
      line-height: 84px
      margin: 0
      margin-bottom: 0.77em
      position: relative
      padding: 0.77em 20% 0 20%
      font-family: $title
      font-weight: 900

    img
      position: absolute
      left: 0px
      top: 0px
      width: 100%
      height: 100%

.second-block
  +clearfix()
  h2
    text-align: center
    font-family: $title
    font-weight: 900
    font-size: 52px

  .secondary-call-to-action
    +button-bg()
    width: 270px
    font-weight: 600
    font-size: 15px
    padding: 20px
    margin-top: 25px
    margin-bottom: 50px

  .expertises
    +clearfix()
    height: 400px

    .expertise
      +gallery(4)
      background-color: $white
      border-radius: 3px
      padding: 4%
      height: 100%

      h3
        font-family: $title
        font-weight: 600
        font-size: 2em
        opacity: 0.8
        width: 60%
        margin-bottom: -3px

      p
        width: 83%


    .expertise-image
      height: 40%

    .expertise-text
      height: 60%

    .green-bar
      border-top: 2px solid
      border-top-color: $django_green
      width: 64px

.third-section
  +clearfix()

  background: white
  height: 1000px

  .secondary-call-to-action
    +button-bg()
    width: 270px
    font-weight: 600
    font-size: 15px
    display: initial


  h2
    text-align: center
    font-family: $title
    font-weight: 900
    font-size: 50px


  .region div
    display: table
    float: left
    width: 25%
    border-left: 5px solid $django_green
    border-right: 18px solid transparent
    position: relative
    border-radius: 6px

    .image-crop
      height: 120px
      display: block
      overflow: hidden
      margin-top: 10px
      position: absolute
      right: 15px
      top: 15px

    .text
      opacity: 0
      transition: opacity 0.3s, visibility 0.3s

    .expert
      &:before
        background: url("../images/ico_diamond.png") no-repeat $django_green
        background-color: lighten($django_green, 10%)
        background-attachment: local
        background-position: 310px -110px

    .agile
      &:before
        background: url("../images/ico_bird.png") no-repeat $django_green
        background-attachment: local
        background-position: 310px -110px
    .qa
      &:before
        background: url("../images/ico_ribbon.png") no-repeat $django_green
        background-attachment: local
        background-position: 310px -110px

    .digital
      &:before
        background: url("../images/ico_rocket.png") no-repeat $django_green
        background-attachment: local
        background-position: 310px -110px

    .hvr-sweep-to-right
      &:hover
        .text
          z-index: 2
          position: absolute
          font-family: $expertise-text
          font-size: 14px
          letter-spacing: 0.3px
          top: 70px
          left: 0
          display: block
          opacity: 1
          transition: opacity 0.3s, visibility 0.3s

    h3
      width: 55%
      text-align: left
      padding-left: 20px
      position: absolute
      bottom: 0
    &:last-child
      a
        background-color: $bluegrey_400
    .item
      display: table-cell
      background-color: $bluegrey_50
      color: $white
      height: 230px
      text-align: left

      h3
        font-family: $title
        font-weight: 600
        font-size: 32px


.fourth-section
  margin-top: 1.5em
  padding: 5px 0
  background-color: $bluegrey_50
  // height: 450px
  // el height se debe preguntar a diseño si no lo tenemos.
  padding: 0 20%
  .owl-carousel
    position: relative
    padding: 20% 0
    // añadid lineheight, las fuentes, tamaños correctos, jugad con el padding top y bottom para dejar el hueco.
    h2
      font-family: $title
      font-size: 52px
      font-weight: 900
      text-align: center

    p
      line-height: 48px
      font-size: 30px
      font-family: $title
      font-weight: lighter
      opacity: 0.80
      padding-right: 120px
      padding-left: 120px
    h3
      font-family: $title
      color: #29A156
    .owl-item
      img
        height: 60px
        width: 60px
        float: left
        border-radius: 150px
    .testimonial

      .quota
        border-radius: 0px
        height: 18px
        width: 29px
        margin-left: 85px
        margin-top: 12px

    .testimonial-wrapper
      margin-top: 50px
      padding-right: 120px
      padding-left: 120px
    .testimonial-logo
      float: left
      margin-right: 15px
    // ...
    .testimonial-client
      h3
        margin: 0px
      p
        font-family: $title
        font-weight: 600
        font-size: 16px
        color: $body
        line-height: 24px
        opacity: 1.0
        padding: 0px
    .testimonial-title
      margin: 0px


    .owl-prev
      position: absolute
      right: 120%
      top: 50%
      background: url('../images/arrow_left.png')
      background-repeat: no-repeat
      text-indent: -9999px
      width: 30px
      height: 18px
    .owl-next
      position: absolute
      left: 120%
      top: 50%
      background: url('../images/arrow_right.png')
      background-repeat: no-repeat
      text-indent: -9999px
      width: 30px
      height: 18px
    .owl-dots
      margin-top: 10px
      text-align: center
      -webkit-tap-highlight-color: transparent
      .owl-dot
        display: inline-block
        zoom: 1
        span
          width: 30px
          height: 2px
          background: $body
          margin: 5px 7px
          display: block
          -webkit-backface-visibility: visible
          transition: opacity 200ms ease
          border-radius: 30px
          opacity: 0.60
        &.active
          span
            background: $body
            opacity: 1.00


.five-section
  padding-bottom: 3.5em
  background: $bluegrey_100

  h2
    text-align: center
    font-family: $title
    font-weight: 900
    font-size: 50px
    padding-top: 100px

  .masonry
    margin-bottom: 3em

  .masonry__column
    width: span(4)

  .masonry__gutter
    width: gutter()

  .masonry__item
    width: span(4)
    margin-top: gutter(5)
    background-color: white
    height: 100%

    .date
      height: 5%
      font-family: $expertise-text
      font-size: 14px
      opacity: 0.6

      p
        padding: 30px

    .title
      margin-top: -80px
      height: 75%
      padding: 30px

      h3
        font-family: $title
        font-weight: 900
        font-size: 28px


    .tags
      height: 20%
      background-color: $bluegrey_50
      max-height: 50px
      display: table
      padding-left: 33px
      width: 100.076%
      //weird display table error

      .tagline
        vertical-align: middle

        strong
          font-weight: 600
          font-family: $title
          font-size: 14px
          color: $links
          text-transform: uppercase



  .masonry__item
    &:nth-child(3n+1)
      height: auto

    &:nth-child(3n+2)
      height: auto

    &:nth-child(3n+3)
      height: auto

  .call-to-action
    +button-bg()
    width: 270px
    font-weight: 600
    font-size: 15px
    padding: 20px
    margin-top: 25px
    margin-bottom: 40px
