.first-block
  height: 500px
  position: relative
  margin-top: 100px
  .call-to-action
    +button-bg()
    width: 270px
  h1
    z-index: 2
    text-align: center
    font-size: 72px
    line-height: 84px
    margin: 0
    margin-bottom: 0.77em
    position: relative
    padding: 0.77em 20% 0 20%

  img
    position: absolute
    left: 0px
    top: 0px
    width: 100%
    height: 100%

.second-block
  +clearfix()
  h2
    text-align: center

  .secondary-call-to-action
    +button-bg()

  .expertises
    +clearfix()

    .expertise
      +gallery(4)
      background-color: $white
      border-radius: 3px

    h3
      border-top: 2px solid
      border-top-color: $django_green
