footer
  margin-top: 1.5em
  background: $blue
  padding: 5px 0
  color: $white
  a
    background-color: $bluegrey_200
    padding-top: 100px
    padding-bottom: 100px
    text-align: center
    &:last-child
      background-color: $bluegrey_400
      padding-top: 115px
      padding-bottom: 115px
      color: $white
      text-transform: uppercase
      text-align: center
  .block-system-powered-by-block
    img
      width: 250px
      float: right
      margin: 10px 15px
  .region-footer
    a
      +gallery(3)
      +gutters(.01)
