footer
  .region-footer
    div
      display: table
      float: left
      width: 25%
      border-right: 1px solid $white
      &:last-child
        border: 0
        a
          background-color: $bluegrey_400
      a
        text-transform: uppercase
        display: table-cell
        background-color: $bluegrey_200
        color: $white
        height: 200px
        text-align: center
