header
  background: $blue
  padding: 5px 0
  .site
    &-logo, 
    &-name
      display: inline-block
  h1
    font-family: 'jaapokki_subtractregular'
    font-weight: normal
    margin: 0
  a
    color: $white  
    &:hover
      color: $white
